@media (min-width: 768px) {
    .my-buttons {
        margin-top: 180px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .main {
        width: 98%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .main {
        width: 95%;
    }
}
.only-print, .only-print *  {
    display: none;
}
@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
    .only-print, .only-print *  {
        display: initial !important;
    }
}
.my-buttons button {
    margin-top: 5px;
    margin-bottom: 5px;
}
.my-buttons button.btn-danger {
    margin-top: 25px;
}
#myBooks option {
    margin-bottom: 2px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.footer .footer-version {
    position: relative;
    bottom: 15px;
    right: 15px;
}
@media (max-width: 768px) {
    .footer .footer-version {
        top: 6px;
    }
    .footer {
        height: 100px;
    }
}
/*.navbar-brand {
    display: flex
}
.navbar-brand img {
    height: 50px;
    position: relative;
    top: -15px;
    margin-right: 15px;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}*/
#book, #myBooks {
    overflow: auto;
}
footer hr {
    margin: 0 0 9px 0;
}
.footer-small {
    margin: 0 15px;
}